@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html, body{
height: 100%;
margin: 0;

}



h1, p, button{
    font-family: Oswald;
}

div button{
    background-color: #FBCFE8;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

div button:hover{
    background-color: #FBCFE8;
    transform: scale(1.05);
}